<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pies&Pints</title>
  <link rel="stylesheet" href="styles/main.css">
  <link href="http://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet" type="text/css">
</head>
<body>

<div class="app-container">

<h1>Pies&Pints</h1>

<div class="header-container">
  <ul class="category-list">
    <li><h3 class="apps">Apps</h3></li>
    <li><h3 class="salad">Salad</h3></li>
    <li><h3 class="pizza">Pizza</h3></li>
    <li><h3 class="drinks">Drinks</h3></li>
  </ul>
</div>

<div class="left-container">
  <h2>Best Pizza in Town!</h2>
  <img src="http://piesandpints.net/images/logo.png" />
</div>

<script type="text/template" data-template-name="category-item-list-template">
  <h2 class="category-name"></h2>
  <ul class="category-item-list">
  </ul>
</script>

<script type="text/template" data-template-name="category-item-template">
  <li>
    <div><%= itemName %></div>
    <div><%= itemDescription %></div>
    <div>($<%= itemPrice %>)</div>
    <button>Add Item</button>
  </li>
</script>

<div class="right-container">
  <h2>Order Info</h2>
  <ul class="order-list">
    <li>Cheese Pizza ($9)<button>X</button></li>
    <li>Sweet Tea ($2)<button>X</button></li>
  </ul>
  <div>
    <h4>Total</h4>
    <div>($11)</div>
    <button>Submit Order</button>
  </div>
</div>

</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="main.js"></script>

</body>
</html>
